:root {
  --logo-web-button-color: #4d5ae5;
  --button-color: #404bbf;
  --text-color: #2e2f42;
  --contacts-color: #434455;
  --footer-text-color: #f4f4fd;
  --text-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;
  --white-color: #ffffff;
}

body {
  font-family: var(--text-font-family);
  color: var(--contacts-color);
  background-color: var(--white-color);
}

.logo {
  color: var(--logo-web-button-color);
  font-family: var(--logo-font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
}

.logo-studio-dark {
  color: var(--text-color);
}

.logo-studio-light {
  color: var(--footer-text-color);
}

.nav-items {
  color: var(--text-color);
  list-style: none;
}

.nav-items:hover,
.nav-items:focus {
  color: var(--logo-web-button-color);
}

.contact {
  color: var(--contacts-color);
}

.contact:hover,
.contact:focus {
  color: var(--logo-web-button-color);
}

.button {
  color: var(--logo-web-button-color);
  background-color: var(--footer-text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.button:hover,
button:focus {
  color: var(--white-color);
  background-color: var(--button-color);
}

.name-app {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.app-category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.footer {
  background-color: var(--text-color);
  color: var(--footer-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.footer-logo {
  color: var(--footer-text-color);
}

.main-section {
  background-color: var(--text-color);
  color: var(--white-color);
}

.main-section-header {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.main-section-button {
  background-color: var(--logo-web-button-color);
  color: var(--white-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.main-section-button:hover,
.main-section-button:focus {
  cursor: pointer;
}

.first-section-header {
  color: var(--text-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.first-section-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.section-header {
  color: var(--text-color);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.name-person {
  color: var(--text-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.name-job {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
